.theme-selector {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 20px auto;
  align-items: center;
}

.theme-buttons div {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 15px;
  cursor: pointer;
  border-radius: 50%;
}

.theme-selector .mode-icon img {
  width: 25px;
  height: 25px;
}
